.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  width: 500px;
}

button {
  margin: 5px;
}
